node_modules/
coverage/
cache/
typechain/
typechain-types/
artifacts/
.env
.DS_Store
*.tsbuildinfo
**/bin/
**/obj/
config/appsettings.json
config/backtests/*.json
data/**/*.db
data/**/*.sqlite
*.db
*.sqlite
package-lock.json
config/deployment.latest.json
